---
import { RightArrowWithCircleIcon } from "../assets/icons/RightArrowWithCircleIcon";
import StairsGraphicIcon from "../../public/images/StairsGraphicIcon.svg";
import ServicesLayoutImage from '../../public/images/ServicesLayoutImage.svg';
import ServiceCard from "./ServiceCard.astro";

const services = [
  {
    number: "01",
    title: "Diseño de Planos",
    description: "Transformo tu idea en planos claros y aprobables."
  },
  {
    number: "02",
    title: "Plano de relevamiento",
    description: "Regularizo la documentación de tu propiedad ante las autoridades. Sin papeleo complicado."
  },
  {
    number: "03",
    title: "Plano de lote",
    description: "Mido y dibujo tu terreno con precisión. Lo que necesite para construir, vender, subdividir o tramitar permisos municipales."
  },
  {
    number: "04",
    title: "Avalúo de propiedades?",
    description: "Proyectos residenciales y comerciales desde concepto hasta obra."
  }
];
---

<section id="services" class="bg-secondary font-nunito min-h-[315px] md:min-h-[1100px] overflow-hidden">
  
  <div class="bg-primary-100 p-8 lg:p-20 relative">

    <img src={ServicesLayoutImage.src} class="hidden lg:block absolute w-[100%] h-[800px] scale-x-115 left-1/2 -translate-x-1/2 top-3/4 " />

    <img 
      src={StairsGraphicIcon.src} 
      class="absolute right-10 bottom-5 lg:opacity-25 opacity-10 h-[50%] lg:h-auto" 
    />

    <div class="max-w-7xl mx-auto flex flex-col lg:flex-row justify-between items-center gap-8 pr-0 lg:pr-18">
      <div class="space-y-2">
        <h2 class="text-[clamp(2rem,4vw,5rem)] text-primary-900 font-light leading-tight font-urbanist text-center lg:text-left">
          ¿Listo para empezar<br/>
          tu <span class="font-bold italic">proyecto?</span>
        </h2>
        <p class="text-primary-300 text-lg text-center">Primera consulta sin costo · Potosí y proyectos nacionales</p>
      </div>
      
      <button class="
        flex items-center justify-center gap-4 px-12 py-4
        w-fit
        bg-[var(--primary-400,#163832)] 
        text-white font-bold
        rounded-[10px] 
        shadow-[2px_2px_2px_0px_#0B2B2666] 
        rotate-0 opacity-100 
        transition-all hover:opacity-90
      ">
        Cuéntame tu proyecto
        <RightArrowWithCircleIcon size="w-7 "/>
      </button>
    </div>
  </div>

  <div class="max-w-7xl mx-auto px-6 py-20 relative">
    
    <div class="mb-16">
      <span class="text-accent-700 font-bold text-[clamp(1rem,1.2vw,1.3rem)] uppercase tracking-widest">Lo que ofrezco</span>
      <h3 class="text-[clamp(2rem,3.5vw,4.8rem)] text-primary-800 mt-2 font-urbanist">
        Servicios de <span class="font-bold text-accent-700 italic">arquitectura</span>
      </h3>
    </div>

    <div class="grid md:grid-cols-2 justify-items-center align-center gap-10 md:gap-20 px-10 pb-10">
      {services.map((service) => (
        <ServiceCard 
          serviceNumber={service.number}
          title={service.title}
          description={service.description}
        />
      ))}
    </div>

  </div>
</section>
